<div class="container">
    <div class="row text-center">
        <div class="col">
            <strong><h1>Welcome to the covid statistics app</h1></strong>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm">
            <p> Number of Covid 19 cases {{globalStats.cases}} </p>
        </div>
        <div class="col-sm">
            <p> Number of deaths by Covid 19 {{globalStats.deaths}} </p>
        </div>
    </div>
</div>
<div>